<div th:fragment="createPatientFragment">

    <div id="alerts" th:if="${showStatus} == true">

        <div th:if="${apiResponse.isSuccess()} == false" class="text-center">
            <div class="alert alert-danger" th:text="${apiResponse.message}"></div>
            <a class="btn-primary btn btn-link me-2" th:href="@{/showPatients}">Skip</a>
            <a class="btn-primary btn btn-link" th:href="@{/editPatient/{id}(id=${patientMdl.id})}">Retry</a>
        </div>

        <div th:if="${apiResponse.isSuccess()} == true" class="text-center">
            <h1 class="display-3 mt-5 mb-5" th:text="${apiResponse.message}"></h1>
            <a class="btn-primary btn btn-link me-2" th:href="@{/showPatients}">Show Patients</a>
            <a class="btn-primary btn btn-link" th:href="@{/createPatient}">Create Another Patient</a>
        </div>
    </div>

    <section th:if="${showStatus} != true" id="form_section" class="section">

        <h2 class="mb-3">Create Patient</h2>

        <div class="row">
            <div class="col-6">
                <form id="form" th:action="@{/savePatient}" method="post" th:object="${patientMdl}">
                    <input type="hidden" name="id" th:field="*{id}" />
                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" name="name" id="name" th:field="*{name}" placeholder="Enter Name" />
                    </div>
                    <div class="mb-3">
                        <label for="mobile" class="form-label">Mobile</label>
                        <input type="text" class="form-control" name="mobile" id="mobile" th:field="*{mobile}" placeholder="Enter Mobile" />
                    </div>
                    <div class="mb-3">
                        <label for="address" class="form-label">Address</label>
                        <input type="text" class="form-control" name="address" id="address" th:field="*{address}" placeholder="Enter Address" />
                    </div>
                    <div class="mb-3">
                        <button id="save" class="btn-primary btn">Save</button>
                        <button class="btn-default btn" type="button" th:data-link="@{/showPatients}" onclick="{event.preventDefault(); window.location.href=this.dataset.link;}">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>